* {
    margin: 5px;
    padding: 3px;
    border: 1px dotted black;
    text-align: center;
    font-family: 'Futura', sans-serif;
}

header, footer {
    background-color: cornflowerblue;
}

main * {
    background-color: lawngreen;
}

nav {
    background-color: gold;
}

nav a {
    background-color: orangered;
}